.nav-bar{
	width: 100%;
	background-color: $color-cancer;
	position: fixed;
	z-index:1;
	margin-top: 20px;
	display: none;
	@include if-is-tablet {
		display: inline;
	}
	.item-list{
		display: flex;
		flex-direction: row;
		list-style-type: none;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid darken($color-cancer, 20%);
		.item{
			font-size: 20px;
			a {
				text-decoration: none;
				color: $color-solid-grosgrain;
				display: inline-block;
				padding: 15px 10px;
			}
			@include if-is-desktop {
				a {
					padding: 15px 35px;
				}
				a:hover {
					background-color: $color-syntactic;
					color: $color-dental;
				}
				a.sign:hover {
					background-color: #FCF9B5;
					color: black;
				}
			}
		}
		.first {
			border-left: 3px solid $color-syntactic;
		}
		.sign-up-in {
			font-weight: bold;
			font-size: 15px;
		}
	}
}